*, *:after, *:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color:#f7f7f7;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
}
.area {
  margin: 5px auto;
  width: 700px;
  height: 700px;
}
div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div p {
  font-size: 13em;
  width: 33.33%;
  height: 33.33%;
  text-align: center;
}
p {
  text-align: center;
  font-size: 3em;
  color: #3b3b3b;
}
#five {
  border: 5px #3b3b3b solid;
}
#four, #six {
  border-top: 5px #3b3b3b solid;
  border-bottom: 5px #3b3b3b solid;
}
#two, #eight {
  border-left: 5px #3b3b3b solid;
  border-right: 5px #3b3b3b solid;
}
