*, *:after, *:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.area {
  margin: 30px auto;
  width: 700px;
  height: 700px;
  border: black 0px solid;
}
div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div p {
  font-size: 13em;
  width: 33%;
  height: 33%;
  border: 1px solid red;
  background-color: green;
  text-align: center;
}
p {
  text-align: center;
  font-size: 3em;
}
